.header {
  position: absolute;
  width: 100%;
  /* background-color: var(--clr-merino); */
  padding-block: 2.5rem;
  padding-inline: 13.5rem;
  font-weight: 600;
  color: var(--clr-black-primary);
  z-index: 100;
}

.header__container {
  display: flex;
  align-items: center;
  max-width: 198rem;
  margin-inline: auto;
}

.logo {
  font-size: 2.4rem;
  font-weight: 700;
}

.logo span {
  color: black;
  font-size: 2.4rem;
}

.nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.list {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  margin-right: 4rem;
}

.burger {
  display: none;
}

.toggle {
  z-index: 99;
  cursor: pointer;
}

@media(max-width: 1200px) {
  .header {
    padding-inline: 6.5rem;
  }
}

@media (max-width: 1100px) {
  .header__container {
    justify-content: space-between;
  }

  .nav {
    display: none;
  }

  .header__btn {
    display: none;
  }
  
  .burger {
    display: flex;
  }
}

@media(max-width: 768px) {
  .header {
    padding-inline: 2.4rem;
  }
}