.hero {
  display: flex;
  justify-content: center;
  background-color: var(--clr-merino);
  background-image: url("/images/hero.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 2.4rem;
  margin-top: 18vh;
}

.title {
  max-width: 76.8rem;
  text-align: center;
  z-index: 10;
}

.title span {
  background-color: var(--clr-maize);
  padding: 0.5rem;
}

.hero a {
  width: max-content;
  margin-top: 3.5rem;
  z-index: 10;
}

.hero__img {
  margin-top: -20%;
  padding-bottom: 6.5rem;
}

@media (max-width: 768px) {
  .title {
    max-width: 40rem;
  }
}