.section {
  text-align: center;
  padding-bottom: 14rem;
  padding-top: 12.5rem;
  background-color: var(--clr-merino);
  background-image: url('/images/bg-circles.png');
  background-position: center;
}

.section div {
  max-width: 80rem;
}

.text span {
  width: 50px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}