.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

@media(max-width: 1440px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}