.project {
  position: relative;
}

.btn_link {
  position: absolute;
  width: max-content;
  right: 0;
  top: 5.7rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

@media (max-width: 1024px) {
  .content {
    grid-template-columns: 1fr;
    padding-bottom: 8rem;
    justify-items: center;
  }

  .btn_link {
    left: 50%;
    top: unset;
    bottom: 0;
    transform: translateX(-50%);
  }
}