:root {
  --clr-white: #fff;
  --clr-orange-primary: #ff733b;
  --clr-orange-secondary: #ff9c5b;
  --clr-orange-tertiary: #ffc078;
  --clr-orange-quaternary: #ffe0b2;
  --clr-merino: #f4ece0;
  --clr-maize: #f4d3a1;
  --clr-graphite: #241008;
  --clr-asphalt: #1a0c06;
  --clr-flint: #6b625e;
  --clr-hurricane: #8a7f7b;
  --clr-black-primary: #000000;
  --clr-black-light: ##313131;
  --clr-white-ice: #e3f8fa;
  --clr-blue-chalk: #f5e6fe;
  --clr-pipin: #ffe6e2;
  --clr-link-water: #e0e6f4;
  --clr-feta: #e2fae3;
  --font-nunito: 'Nunito', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  /* --text-gradient: (
    background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.6)) ; -webkit-background-clip:
      text; -webkit-text-fill-color: transparent; background-clip: text;
  ); */
}

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol
      *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 400;
  font-family: var(--font-poppins);
  color: var(--clr-flint);
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

/* img {
  display: block;
  max-width: 100%;
} */

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable='false'])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  /* -webkit-line-break: after-white-space; */
  /* -webkit-user-select: auto; */
}

:where([draggable='true']) {
  -webkit-user-drag: element;
}

.section {
  padding-inline: 13.5rem;
  padding-top: 12.5rem;
}

.container {
  max-width: 117rem;
}

.container-center {
  margin-inline: auto;
}

.article {
  max-width: 76.8rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-inline: 2.4rem;
  margin-top: 2.4rem;
}

.article h2 {
  font-family: var(--font-nunito);
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 3.4rem;
  color: var(--clr-asphalt);
  margin-top: 2.4rem;
}

.article img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1.6rem;
  margin-top: 2.4rem;
}

.article li {
  margin-top: 1.6rem;
  list-style: inside;
  list-style-type: decimal;
}

.article li::marker {
  color: black;
  font-size: 2rem;
  font-weight: 800;
}

.position-rel {
  position: relative;
}

.position-abs {
  position: absolute;
}

.heading-1 {
  font-family: var(--font-nunito);
  font-weight: 800;
  line-height: 1.375;
  color: var(--clr-black-primary);
}

@media screen and (max-width: 576px) {
  .heading-1 {
    font-size: calc(6rem + 1vw - 2rem);
  }
}

@media screen and (min-width: 576px) {
  .heading-1 {
    font-size: calc(7rem + 2vw - 2rem);
  }
}

.heading-2 {
  font-family: var(--font-nunito);
  font-weight: 800;
  line-height: 1.4;
  color: var(--clr-asphalt);
}

@media screen and (max-width: 576px) {
  .heading-2 {
    font-size: calc(4rem + 1vw - 2rem);
  }
}

@media screen and (min-width: 576px) {
  .heading-2 {
    font-size: calc(4rem + 2vw - 2rem);
  }
}

.heading-3 {
  font-family: var(--font-nunito);
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 1.2;
  color: var(--clr-asphalt);
}


.heading-4 {
  font-family: var(--font-nunito);
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 3.4rem;
  color: var(--clr-graphite);
}

.heading-5 {
  font-family: var(--font-nunito);
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 3.4rem;
  color: var(--clr-graphite);
}

.btn {
  width: max-content;
  font-size: 1.6rem;
  line-height: 2.7rem;
  font-weight: 500;
  padding: 1.4rem 3.2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:active {
  filter: none;
}

.btn-orange {
  background-color: var(--clr-orange-primary);
  color: var(--clr-black-primary);
}

/* .btn-orange:hover {
  background-color: var(--clr-orange-secondary);
} */

.btn-maize {
  background-color: var(--clr-maize);
  color: var(--clr-black-primary);
}

.btn-merino {
  background-color: var(--clr-merino);
  color: var(--clr-black-primary);
}

@media (max-width: 768px) {
  body {
    font-size: 1.6rem;
  }
  
  .section {
    padding-inline: 2.4rem;
    padding-top: 4.2rem;
  }
}
